body {
    text-align: center;
    background-image: url(/img/5tR0hl.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    font-size: 180%;
}

table {
    color: rgb(0, 255, 234);
    text-align: left;
    margin-left: 37%;
    
}
h1{
    color: rgb(0, 255, 234);
}
