@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap");
* {
  padding: 10px;
}
body {
  background-color: orchid;
}
.contenedor {
  background-color: white;
}

.parrafo1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo3 {
  font-style: italic;
}

.parrafo4 {
  font-style: oblique;
}

.parrafo5 {
  font-style: normal;
}

.parrafo6 {
  font-weight: bold;
}

.parrafo7 {
  font-weight: bolder;
}

.parrafo8 {
  font-variant: small-caps;
}

.parrafo9 {
  font-variant: normal;
}

.parrafo10 {
  font-size: 30px;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "Girassol";
  src: url("/fonts/Girassol-Regular.ttf");
}
@font-face {
  font-family: "Lakki Reddy";
  src: url("/fonts/LakkiReddy-Regular.ttf");
}
@font-face {
  font-family: "Batman";
  src: url("/fonts/batmfa__.ttf");
}

.parrafo11 {
  font-family: "Press Start 2P", cursive;
}

.parrafo12 {
  font-family: "Girassol", cursive;
}

.parrafo13 {
  font-family: "Lakki Reddy", cursive;
}

.parrafo14 {
  font-family: "Batman", cursive;
  font-size: 25px;
}
