body {
    margin: 0;
    text-align: center;
    background-image: url(/img/fondo.jpg);
    font-family: algerian;
    background-repeat: no-repeat;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 35%;
    background-color: gainsboro;
    height:40%;
    overflow: auto;
    border: 1px solid #555;
    margin-left: 450px;
    margin-top: 5%;
    border-radius: 15px;

}

li{
    text-align: center;
    border: 1px solid rgb(37, 22, 121);
}


li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.activo {
    background-color: rgb(23, 103, 252);
    color: white;
    border-radius: 1px 1px 0 0 ;
}

li a:hover:not(.activo) {
    background-color: rgb(3, 1, 119);
    color: white;
}

h1{
    color: white;
    margin-top: 5%;
}

h2{
    color: white;
}